[core]
	excludesfile = /Users/nunzio/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Nunzio Di Napoli
	email = nunzio.dinapoli@maggioli.it
[commit]
	template = /Users/nunzio/.stCommitMsg
[alias]
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
[pull]
	rebase = false

# Solo per repo con remote su github.com -> identità Erd89
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
	path = ~/.gitconfig-github
[includeIf "hasconfig:remote.*.url:ssh://git@github.com/**"]
	path = ~/.gitconfig-github
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = ~/.gitconfig-github
